@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER */
header {
  display: block;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  gap: 0 20px;
}

.topmenu {
  display: inline-block;
}

.topmenu a {
  display: inline-block;
  padding: 5px 0;
  text-align: center;
}

/* FORMS */
.regist {
  width: 210px;
}

.regist label {
  display: inline-block;
  position: relative;
  padding-left: 17px;
  height: 100%;
  min-height: 20px;
  max-height: 20px;
  margin-bottom: 15px;
}

label svg {
  position: absolute;
  left: 0;
  width: 15px;
  bottom: calc(100% - 97%);
}

/* CONTENT */
.article-content {

  position: relative;
  max-width: 800px;
  padding-bottom: 50px;
}

.article-content>a {
  display: block;
}

.article-content>a>div {
  display: inline-block;
  vertical-align: text-top;
}

.article-content>a>div.article-more {
  display: block;
}
.article-content div {
  overflow: hidden;
}
.comments,
.article-content {
  max-width: 800px;
}

.article-content>div.article-more button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

/* COMMENTS */
.comments form label svg {
  bottom: 0;
}